{% extends 'users/base.html' %}

{% block title %}Search Users{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="container">
        <h2 class="card-title mt-5 p-3 bg-custom text-white rounded shadow-sm">Search Users</h2>
    </div>
    
    <form method="get" action="{% url 'search_users' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div class="mt-4">
        {% if users %}
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="rounded-circle me-3" style="width: 50px; height: 50px;">
                            <span>{{ user.username }}</span>
                        </div>
                        <a href="{% url 'send_friend_request' user.id %}" class="btn btn-primary btn-sm">Send Friend Request</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
