{% extends 'users/base.html' %}

{% block title %}Confirm Post Deletion{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4>Confirm Post Deletion</h4>
        </div>
        <div class="card-body">
            <p class="text-center alert-error">Are you sure you want to delete the following post?</p>
            <h5>{{ post.title }}</h5>
            <p>{{ post.content }}</p>

             <!-- Mostrar imagen si está disponible -->
             {% if post.image %}
             <div class="image-container mb-3">
                 <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid rounded shadow-sm">
             </div>
             {% endif %}
             
             <!-- Mostrar enlace si está disponible -->
             {% if post.link %}
                 <a href="{{ post.link }}" target="_blank" class="btn btn-primary">View Link</a>
             {% endif %} 

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
